
.img1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.div1{
    border-style: double;
    width: 150px;
    height: 130px;
    border-top-width: 9px;
    
}

.BTN{

    background-color: rgb(0, 128, 255);
    border: 200px;
    padding: 20px 30px;
    cursor: pointer;
}