.P1{
    color: blue;
    border: none
    float;
}
.Img1{
    float: left;
    margin-right: 20px;
}

img{
    width: 300px;
    height: 250px;
    z-index:+1  
   
}
.div2{
    margin-left: 830px;
    position: relative;
    bottom: 0 px;
top: 260px;
   
}

.div1{
    margin-left: 800px;
    float: left;
    position: relative;
    left: 170px;
    
    

}

.div3{
    margin-left: 700px;
    position: relative;
    bottom: 250px ;
    right: 200px;
    left: -30px;

}
.div4{
    margin-left: 800px;
    position: relative;
    bottom: 250px;
    
}
.div5{
    margin-left: 800px;
    position: relative;
    bottom: 500px;
    right: 250px;
    

}
.div6{
    margin-left: 800px;
    position: relative;
    bottom: 510px;
    left: 200px;

}
.div7{
    margin-left: 800px;
    position: relative;
    bottom: 750px;
    right: 300px;
    left: -120px ;



}