.horizontalnav{
    background-color: lightblue;
    width: 100%;
    margin-top: 0x;
    overflow: hidden;
    padding-left: 0px;

    
}
.horizontalnav, ul{
    padding: 0px;
    
}

.horizontalnav, ul, li{
    float: left;
    list-style: none;
    padding: 12px 20px 12px 20px;
}
.horizontalnav, ul, li, a{
    text-decoration: none;
    
    color: green;
}

.horizontalnav ul li :hover{
    background-color: yellow;

}

.SubContacts{
    color: red;
    display: none;
    padding: 0px;
    width: 150px;
    position: absolute;
    
}

.SubContacts a{
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
}
